body {
    background-color: #66a1cc;
    margin: 0;
}

.main-container {
    width: 50%;
    margin: 0 auto;
}

.reload-game {
    border-radius: 50%;
    background-color: papayawhip;
    background-image: url('../assets/img/restart.png');
    background-size: 100%;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.reload-game:hover {
    border: skyblue 4px dashed;
}

.main-birds {
    background-image: url('../assets/img/bird.jpg');
    background-size: 100%;
    /* same as 640x432 */
    /* 16px=1em */
    width: 31.67em;
    height: 21.38em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-sounds {
    background-image: url('../assets/img/all_missing_ed.jpg');
    background-size: 100%;
    /* same as 640x499px */
    width: 31.67em;
    height: 24.7em;
    margin: 0 auto;
    position: relative;
}

.block-inline {
    display: inline-block;
    margin: 1.1%;
    padding-bottom: 17%;
    /* float: left; */
    width: 17%;
    background: antiquewhite;
    border-radius: 20%;
}

.fill {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

.invisible {
    display: none;
}

/* Bird dolls */
.bird-doll {
    position: absolute;
    cursor: pointer;
}

#duck-mallard {
    height: 13.89%;
    width: 10.94%;
    top: 43.98%;
    left: 15.31%;
}

#skylark {
    height: 13.89%;
    width: 10%;
    top: 49.77%;
    left: 28.125%;
}

#garden-warbler {
    height: 23.15%;
    width: 6.88%;
    top: 50.93%;
    left: 39.06%;
}

#nightingale {
    height: 13.89%;
    width: 9.5%;
    top: 55.56%;
    left: 48.44%;
}

#cuckoo {
    height: 18.52%;
    width: 7.82%;
    top: 50.93%;
    right: 31.875%;
}

#little-owl {
    height: 15.28%;
    width: 8.59%;
    top: 50.93%;
    right: 17.97%;
}

/* Bird song instrument */
.flex-zone-sounds {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
}

.bird-song {
    position: absolute;
    cursor: pointer;
}

#song-duck {
    height: 13%;
    width: 28%;
    top: 35.56%;
    left: 2.2%;
}

#song-skylark {
    height: 33.12%;
    width: 23.05%;
    top: 13%;
    right: 0.79%;
}

#song-warbler {
    height: 38.36%;
    width: 12%;
    bottom: 9.31%;
    left: 7.4%;
}

#song-nightingale {
    height: 23%;
    width: 17%;
    bottom: 0%;
    left: 42.835%;
}

#song-cuckoo {
    height: 40.4%;
    width: 18%;
    bottom: 9.7%;
    right: 3.25%;
}

#song-owl {
    height: 33.7%;
    width: 14.6%;
    top: 12.5%;
    left: 34.5%;
}

/* For printing */
#print,
.drawing-print {
    display: none;
}

.drawing-print {
    background-color: #dddddd;
    position: fixed;
    top: 50%;
    left: 50%;
    /* margin: 0 auto; */
    height: 700px;
    width: 600px;
    margin-top: -350px;
    margin-left: -300px;
    transition: 500ms;
}

#print {
    border-radius: 50%;
    background-image: url('../assets/img/print_button_cropped.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}

#close {
    border-radius: 50%;
    background-color: maroon;
    background-image: url('../assets/img/close.png');
    background-size: 200%;
    background-position: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#drawingImg {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#video-player {
    width: 100%;
    display: none;
    position: absolute;
    top: 25%;
}